.containerStatbox {
  display: grid;
  font-size: 14px;
  font-weight: 600;
}

.containerSpeed {
  display: grid;
  gap: 10px;
  align-content: center;
  grid-template-rows: 30px 40px;
}

.speedTitles {
  display: grid;
  position: relative;
  grid-auto-flow: column;
  line-height: 30px;
}

.speedValues {
  display: grid;
  grid-auto-flow: column;
  line-height: 50px;
  white-space: nowrap;
  color: rgb(81, 132, 228);
}

.speedValues h2 {
  text-align: center;
}

.speedValues,
.speedTitles,
.containerAgain {
  grid-template-columns: 70px auto;
}

.speedIcon {
  height: 30px;
  background: url('../assets/clock.svg') no-repeat;
  background-position: center;
  background-size: contain;
}

.speedValues h2 {
  font-size: 26px;
}

.containerAgain {
  display: grid;
  height: 30px;
  max-width: 150px;
  padding: 5px;
  line-height: 30px;
  grid-auto-flow: column;
  border: 1px solid rgb(92, 91, 91);
  border-radius: 20px;
  transition: 0.1s linear;
}

.containerAgain:hover {
  background-color: rgb(236, 236, 236);
}

.containerAgain:active {
  background-color: rgb(128, 128, 128);
}

.againIcon {
  background: url('../assets/again.svg') no-repeat;
  background-position: center;
  background-size: contain;
}

.againText {
  user-select: none;
}
